<!-- footer -->
<footer class="homeFooter bg00 padding54">
    <div class="container-fluid width90">
          <div class="row">

                <div class="col-12">

                      <!-- call, mail, chat -->
                      <div class="queries">
                            <h2>Have more questions?</h2>
                            <p class="fdCall"><span><i class="fas fa-phone-alt"></i></span> Call on +91 787 787 7878</p>
                            <p><span><i class="fas fa-envelope-open"></i></span> Mail us at enquiry@fooddarzee.com</p>
                            <p><span><i class="fas fa-comment-alt"></i></span> Chat with us</p>
                      </div>

                      <!-- footer head -->
                      <div class="bg1e">
                            <div class="footerhead d-flex flex-wrap">
                                  <div class="col-12 col-sm-3 col-md-1">
                                        <span class="logo_text"><img src="../../assets/images/logo.png"> Food Darzee</span>
                                        <img class="d_logo" src="../../assets/images/logo.png">
                                  </div>

                                  <div class="col-12 col-sm-9 col-md-8">
                                        <h4>Food Darzee</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. The text can go in 2 lines and even further.</p>
                                  </div>

                                  <div class="col-12 col-sm-12 col-md-3">
                                        <div class="followLinks text-right">
                                              <a href="#"><i class="fab fa-twitter"></i></a>
                                              <a href="#"><i class="fab fa-facebook-f"></i></a>
                                              <a href="#"><i class="fab fa-youtube"></i></a>
                                              <a href="#"><i class="fab fa-instagram"></i></a>
                                        </div>
                                  </div>
                            </div>


                            <div class="d-flex lastfooter w-100">

                                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 ">
                                        <ul class="Dflex">
                                              <li><a href="#">Contact Us</a></li>
                                              <li><a routerLink="/faq" routerLinkActive="active">FAQ</a></li>
                                              <li><a href="#">Terms & conditions</a></li>
                                              <li><a href="#">Privacy Policy</a></li>
                                              <li><a href="#">Refund Policy</a></li>
                                        </ul>
                                  </div>

                                  <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="copyright Dflex">
                                              <p class="text-right w-100">
                                                    <img src="../../assets/images/ic-copyright-48-px.png">
                                                    Copyright Food Darzee India Pvt. Ltd. | All rights reserved.
                                              </p>
                                        </div>
                                  </div>

                                  <div class="clearfix"></div>
                            </div>
                      </div>

                      <!-- footer last section -->
                      <div class="footermid">
                            <h4>Popular searches <span>on food darzee</span> <i class="fas fa-angle-down"></i></h4>

                            <ul>
                                  <li>
                                        <a href="#">Gym workouts</a>
                                        <a href="#">Exercise</a>
                                        <a href="#">Yoga</a>
                                        <a href="#">Order Lunch Online</a>
                                        <a href="#">Gourmet Food</a>
                                        <a href="#">Healthy Lunch</a>
                                        <a href="#">Sleep Stories</a>
                                        <a href="#">Yoga Asanas</a>
                                        <a href="#">Care Fit Center</a>
                                  </li>
                                  <li>
                                        <a href="#">Beginners Workout</a>
                                        <a href="#">Cardio Workout</a>
                                        <a href="#">Workouts For Women</a>
                                        <a href="#">Order Breakfast Online</a>
                                        <a href="#">Fit Foods</a>
                                        <a href="#">Healthy Dinner</a>
                                        <a href="#">Yoga For Beginners</a>
                                        <a href="#">Diagnostic Center</a>
                                        <a href="#">Consultation</a>
                                  </li>
                                  <li>
                                        <a href="#">Home workouts</a>
                                        <a href="#">Burn Calories</a>
                                        <a href="#">Zumba Dance</a>
                                        <a href="#">Online Snacks Order</a>
                                        <a href="#">Home Delivery</a>
                                        <a href="#">Yoga Classes Near Me</a>
                                        <a href="#">Meditation For Beginners</a>
                                        <a href="#">Doctor Consultation</a>
                                  </li>
                                  <li>
                                        <a href="#">HIIT Workout</a>
                                        <a href="#">Abs Workout</a>
                                        <a href="#">Weight loss Workouts</a>
                                        <a href="#">Online Dinner Order</a>
                                        <a href="#">Healthy Breakfast</a>
                                        <a href="#">Yoga Training At Home</a>
                                        <a href="#">Yoga NidraPower Yoga</a>
                                        <a href="#">Nutrition Consultation</a>
                                  </li>
                                  <li>
                                        <a href="#">HRX Workout</a>
                                        <a href="#">Strength training</a>
                                        <a href="#">Food Delivery</a>
                                        <a href="#">Healthy Vegetarian Meals</a>
                                        <a href="#">Light Food</a>
                                        <a href="#">Stress Management</a>
                                        <a href="#">APM Yoga</a>
                                        <a href="#">Healthy Lifestyle Tips</a>
                                  </li>
                                  <li>
                                        <a href="#">Belly Fat</a>
                                        <a href="#">How To Build Stamina</a>
                                        <a href="#">Order Food Online</a>
                                        <a href="#">Home Made Food</a>
                                        <a href="#">Healthy Snacks</a>
                                        <a href="#">Sleep Meditation</a>
                                        <a href="#">Hatha Yoga</a>
                                        <a href="#">Full Body Checkup</a>
                                  </li>
                            </ul>

                      </div>

                </div>

          </div>
    </div>
</footer>
<!-- footer ends -->

