      <!-- intro section -->
      <section class="padding54 padd80 bgee bgImg12">
        <img class="imgab" src="../../assets/images/grapes.png">
        <img class="imgshape" src="../../assets/images/path-2.png">

        <div class="container-fluid width90 first_sec1">
              <div class="row">
                    
                    <div class="col-12 col-sm-12 col-md-6">
                          <div class="topsection w-100">
                                <h1 class="hideBg">Making <br>the world a <br>healthier place <br>with every <br><span>food we deliver.</span></h1>

                                <h1 class="hideDes">Making the world <br>a healthier place <br>with every <br><span>food we deliver.</span></h1>
                                <a class="subscribeBtn" href="#">Subscribe now</a>
                          </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-6">
                          <div class="position-relative">
                                <img class="w-100 mPosAb" src="../../assets/images/future.png">
                          </div>
                    </div>

                    <div class="col-12 pad_lr_0">
                          <ul class="d-flex nowOpen">
                                <li>
                                      <h5>Food Darzee</h5>
                                      <p>Now in Bangalore</p>
                                </li>
                                <li>
                                      <h5>Coached Darzee</h5>
                                      <p>Consult now for free</p>
                                </li>
                                <li>
                                      <h5>Baked Darzee</h5>
                                      <p>See our products</p>
                                </li>
                          </ul>
                    </div>

                    <div class="clearfix"></div>

              </div>
        </div>
  </section>

  <!-- offer section -->
<app-offer></app-offer>
<!-- ////////////// -->
  <!-- food darzee -->
  <section class="padding54 fdsec pd-t-0">
        <div class="container-fluid width90">
              <div class="row">
                    
                    <div class="col-12 col-sm-13 col-md-5">
                          <div class="fdText">
                                <h1>Food Darzee</h1>
                                <h5>Subheading Lorem Ipsum</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <a class="knowBtn" href="#">Know more <span><i class="fas fa-angle-right"></i></span></a>
                                <br>
                                <a class="startedBtn" href="#">Get started</a>
                          </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-7">
                          <div class="imgSwap">
                                <img class="imgSwap1" src="../../assets/images/fd_darzee.png">
                                <img class="imgSwap2" src="../../assets/images/fd_darzee.png">
                                <img class="imgSwap3" src="../../assets/images/fd_darzee.png">
                          </div>                              
                    </div>

              </div>
        </div>
  </section>

  <!-- ownerview section -->
<app-ownerview></app-ownerview>
<!-- ownerview section -->


  <!-- menu item -->
  <section class="padding54 bgpink">
        <div class="container-fluid width90">
              <!-- today's menu -->
              <div class="row">
                    
                    <div class="col-12">
                          <div class="headingSection mr-40">
                                <div>
                                      <h2>Food Darzee has a different menu everyday.<br>Throughout the week!</h2>
                                </div>
                                <div class="customBtn hideBg">
                                      <a href="#">View all menu</a>
                                      <span><i class="fas fa-chevron-right"></i></span>
                                </div>
                          </div>

                          <div class="menuItem">
                                <nav class="hideBg">
                                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active" id="Vegan-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Vegan</a>
                                            <a class="nav-item nav-link" id="Vegetarian-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Vegetarian</a>
                                            <a class="nav-item nav-link" id="Non-Vegetarian-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Non-Vegetarian</a>
                                            <a class="nav-item nav-link" id="Gluten-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Gluten Free</a>
                                            <a class="nav-item nav-link" id="All-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">All</a>
                                      </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                      <div class="tab-pane fade show active d-flex flex-wrap" id="nav-home" role="tabpanel" aria-labelledby="Vegan-tab">
                                            <div class="col-12 col-sm-12 col-md-5 mr-10">
                                                  <div class="menuList">
                                                        <img class="w-100" src="../../assets/images/wrap.png">
                                                        <div class="itemDetail">
                                                              <p>AVCA Veg <span>Today’s Special</span></p>
                                                              <p>
                                                                    <span class="itemInfo">
                                                                          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                                    </span>
                                                                    <span class="customBtn">
                                                                          <a href="#">Buy Now</a>
                                                                          <span><i class="fas fa-chevron-right"></i></span>
                                                                    </span>
                                                              </p>
                                                        </div>
                                                  </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-7 ml-10">
                                                  <ul class="snacks">
                                                        <li>
                                                              <div class="m_menuList">
                                                                    <img src="../../assets/images/menu1.png">
                                                                    <p>AVCA Veg</p>
                                                              </div>
                                                        </li>
                                                        <li>
                                                              <div class="m_menuList">
                                                                    <img src="../../assets/images/menu2.png">
                                                                    <p>AVCA Veg</p>
                                                              </div>
                                                        </li>
                                                        <li>
                                                              <div class="m_menuList">
                                                                    <img src="../../assets/images/menu1.png">
                                                                    <p>AVCA Veg</p>
                                                              </div>
                                                        </li>
                                                        <li>
                                                              <div class="m_menuList">
                                                                    <img src="../../assets/images/menu1.png">
                                                                    <p>AVCA Veg</p>
                                                              </div>
                                                        </li>
                                                        <li>
                                                              <div class="m_menuList">
                                                                    <img src="../../assets/images/menu2.png">
                                                                    <p>AVCA Veg</p>
                                                              </div>
                                                        </li>
                                                        <li>
                                                              <div class="m_menuList">
                                                                    <img src="../../assets/images/menu1.png">
                                                                    <p>AVCA Veg</p>
                                                              </div>
                                                        </li>
                                                  </ul>
                                            </div>
                                      </div>
                                      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="Vegetarian-tab">...</div>
                                      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="Non-Vegetarian-tab">...</div>
                                      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="Gluten-tab">...</div>
                                      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="All-tab">...</div>
                                </div>

                                <div class="customBtn btn_m">
                                      <a href="#">View Full Menu</a>
                                      <span><i class="fas fa-chevron-right"></i></span>
                                </div>
                          </div>
                    </div>

              </div>
        </div>
  </section>

  <!-- coached darzee -->
  <section class="padding54">
        <div class="container-fluid width90">
              <!-- coached darzee -->
              <div class="row">
                    
                    <div class="col-12 col-sm-13 col-md-5">
                          <div class="fdText">
                                <h1>Coached Darzee</h1>
                                <h5>Subheading Lorem Ipsum</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <a class="knowBtn" href="#">Know more <span><i class="fas fa-angle-right"></i></span></a>
                                <br>
                                <a class="startedBtn" href="#">Consult Now</a>
                          </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-7">
                          <div class="imgSwapC">
                                <img class="imgSwapC1" src="../../assets/images/coach1.png">
                                <img class="imgSwapC2" src="../../assets/images/coach1.png">
                                <img class="imgSwapC3" src="../../assets/images/coach1.png">
                          </div>                           
                    </div>

              </div>
        </div>
  </section>

  <!-- how it works at coached darzee -->
  <section class="padding54 hideBg">
        <div class="container-fluid width90">
              <div class="row">
                    
                    <div class="col-12 col-sm-12 col-md-6 coachWork">
                          <h2>How It Works at Coached Darzee</h2>
                          <p class="p1">Ever wondered how we customise your meals, personalise your food and deliver them to you? Here is an insiders look at how we function.</p>
                          <div class="personalCoach">
                                <p class="p2">Personal coach assignment</p>
                                <p>Ever wondered how we customise your meals, personalise your food and deliver them to you? Here is an insiders look at how we function. Ever wondered how we customise your meals.</p>
                          </div>
                          <p class="p3">Lifestyle recall</p>
                          <p class="p3">Comprehensive plan</p>
                          <p class="p3">Regular follow-ups</p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6">
                          <img src="../../assets/images/wcd.png">
                    </div>

              </div>
        </div>
  </section>

  <!-- baked darzee -->
  <section class="padding54">
        <div class="container-fluid width90">
              <!-- coached darzee -->
              <div class="row">
                    
                    <div class="col-12 col-sm-13 col-md-5">
                          <div class="fdText">
                                <h1>Baked Darzee</h1>
                                <h5>Subheading Lorem Ipsum</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <a class="knowBtn" href="#">Know more <span><i class="fas fa-angle-right"></i></span></a>
                                <br>
                                <a class="startedBtn" href="#">Buy Now</a>
                          </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-7">
                          <div class="imgBaked">
                                <img class="imgBaked1" src="../../assets/images/baked.png">
                                <img class="imgBaked2" src="../../assets/images/baked.png">
                                <img class="imgBaked3" src="../../assets/images/baked.png">
                          </div>                           
                    </div>

              </div>
        </div>
  </section>  

  <!-- Transformation Stories of our customers -->
  <section class="padding54 bgf6">
        <div class="container-fluid width90">
              <div class="row">
                    
                    <div class="col-12 col-sm-12 col-md-6">
                          <div class="customerStory">
                                <h2>Transformation Stories <br>of our customers</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. The text can go in 2 lines and even further.</p>
                                <a class="startedBtn" href="#">See What Others Say</a>
                          </div>
                    </div>
                    
        <div class="col-12 col-sm-12 col-md-6">
            <div class="stories">
                  <div>
                        
                        <ul>
                             <!-- slick carousel -->
                        <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                              <div class="bgff">
                                    <li>
                                          <img src="{{slide.img}}">
                                          <img src="{{slide.img1}}"> 
                                                
                                    </li>
                                    <li class="storiesIdentity">
                                          <p>{{slide.p1}}</p>
                                          <p>{{slide.p2}}</p>
                                          <a href="#">Read more <span><i class="fas fa-angle-right"></i></span></a>
                                    </li>
                              </div>
                        </div>
                  </ngx-slick-carousel>
                        </ul>
     
                  </div>
           </div>
        </div>
   
</div>
</div> 
</section>
                    <!-- <div class="col-12 col-sm-12 col-md-6">
                          <div class="stories">
                                <div>
                                       
                                      <ul>
                                            <div class="bgff">
                                                  <li>
                                                        <img src="../../assets/images/test1.png">
                                                        <img src="../../assets/images/test2.png">
                                                  </li>
                                                  <li class="storiesIdentity">
                                                        <p>Shikha Roy</p>
                                                        <p>I’ve lost 9 kgs in 2 months! <br>Sustained weight loss, heightened confidence, mother-like customer service. It’s a bargain.</p>
                                                        <a href="#">Read more <span><i class="fas fa-angle-right"></i></span></a>
                                                  </li>
                                            </div>
                                      </ul>
                                </div>
                                <div>
                                      <ul>
                                            <div class="bgff">
                                                  <li>
                                                        <img src="../../assets/images/test1.png">
                                                        <img src="../../assets/images/test2.png">
                                                  </li>
                                                  <li class="storiesIdentity">
                                                        <p>Shikha Roy</p>
                                                        <p>I’ve lost 9 kgs in 2 months! <br>Sustained weight loss, heightened confidence, mother-like customer service. It’s a bargain.</p>
                                                        <a href="#">Read more <span><i class="fas fa-angle-right"></i></span></a>
                                                  </li>
                                            </div>
                                      </ul>
                                </div>
                                <div>
                                      <ul>
                                            <div class="bgff">
                                                  <li>
                                                        <img src="../../assets/images/test1.png">
                                                        <img src="../../assets/images/test2.png">
                                                  </li>
                                                  <li class="storiesIdentity">
                                                        <p>Shikha Roy</p>
                                                        <p>I’ve lost 9 kgs in 2 months! <br>Sustained weight loss, heightened confidence, mother-like customer service. It’s a bargain.</p>
                                                        <a href="#">Read more <span><i class="fas fa-angle-right"></i></span></a>
                                                  </li>
                                            </div>
                                      </ul>
                                </div>
                                <div>
                                      <ul>
                                            <div class="bgff">
                                                  <li>
                                                        <img src="../../assets/images/test1.png">
                                                        <img src="../../assets/images/test2.png">
                                                  </li>
                                                  <li class="storiesIdentity">
                                                        <p>Shikha Roy</p>
                                                        <p>I’ve lost 9 kgs in 2 months! <br>Sustained weight loss, heightened confidence, mother-like customer service. It’s a bargain.</p>
                                                        <a href="#">Read more <span><i class="fas fa-angle-right"></i></span></a>
                                                  </li>
                                            </div>
                                      </ul>
                                </div>
                          </div>
                    </div>-->

           

  <!-- download app -->
  <section class="padd-48">
        <div class="container-fluid width90">
              <div class="row">
                    
                    <div class="col-12">
                          <div class="dowmnloadApp">
                                <div class="col-12 col-sm-12 col-md-6">
                                      <h2>Easier with the new <br>Food Darzee App</h2>
                                      <p>Get updates for upcoming app</p>
                                      <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Enter your email Id or phone number" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                  <button class="btn btn-outline-secondary" type="button"><i class="fas fa-arrow-right"></i></button>
                                            </div>
                                      </div>

                                      <div class="playStore">
                                            <img src="../../assets/images/app-store.png">                                                
                                            <img src="../../assets/images/play-store.png">
                                      </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6"></div>
                          </div>
                    </div>

              </div>
        </div>
  </section>
<app-footer></app-footer>
